<h2 class="page-header">Forms</h2>
<ul class="nav nav-tabs">
	<li class="active"><a href="forms.html">Forms</a></li>
	<li><a >Fields</a></li>
</ul>
<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Form Name</th>
				<th>Action</th>
			</tr>
			<tr>
				<td><input ng-model="model.currentForm.title" class="form-control" name="formName" placeholder="Name"/></td>
				<td class="nowrap">
					<a ng-click="model.addForm()" class="btn btn-primary">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
					<a ng-click="model.updateForm()"class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span>
					</a>
				</td>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="form in model.forms" ng-class="{'active' : form.title == model.currentForm.title}">
					<td><a ng-href="#/user/{{$root.user._id}}/form/{{form._id}}/fields">{{form.title}} </a></td>
					<td>
						<a ng-click="model.deleteForm($index)" class="btn btn-danger">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
						<a ng-click="model.selectForm($index)" class="btn btn-warning">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				</tr>
        	</tbody>
		</table>
</div>