<h2 class="page-header">Forms : Registration Form</h2>
<ul class="nav nav-tabs">
    <li ><a href="forms.html">Forms</a></li>
    <li class="active"><a href="form-fields.html">Fields</a></li>
</ul>
<form class="paddingTop25">
    <label for="firstName"> First Name: </label>
    <div class="row form-group" id="firstName">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="form-control" placeholder="First Name">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-align-justify"></scan>
            </a>

        </div>

    </div>

    <label for="lastName"> Last Name: </label>
    <div class="row form-group" id="lastName">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input class="form-control" placeholder="Last Name">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-align-justify"></scan>
            </a>

        </div>

    </div>

    <label for="dob"> Date of Birth: </label>
    <div class="row form-group" id="dob">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="date" class="form-control" placeholder="Select Date">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-align-justify"></scan>
            </a>

        </div>

    </div>

    <label for="gender"> Gender: </label>
    <div class="row form-group" id="gender">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <select class="form-control" type="text" name="gender">
                <option value="">Select Gender</option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-align-justify"></scan>
            </a>

        </div>
    </div>

    <label for="roles"> Roles: </label>
    <div class="row form-group" id="roles">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="checkbox"/> Admin </input> <br>
            <input type="checkbox"/> Student </input> <br>
            <input type="checkbox"/> User </input> <br>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-align-justify"></scan>
            </a>

        </div>
    </div>

    <label for="agreement"> License Agreement: </label>
    <div class="row form-group" id="agreement">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="radio"/> Yes </input> <br>
            <input type="radio"/> No </input> <br>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-align-justify"></scan>
            </a>

        </div>
    </div>
</form>
<hr class="divider">
<label for="newField"> Add New Field: </label>
<div class="row" id="newField">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <select ng-modelclass="form-control" type="text" name="field">
            <option value="">Select Field</option>
            <option value="single">Single Line Text</option>
            <option value="date">Date</option>
            <option value="dropdown">Dropdown</option>
            <option value="checkboxes">Checkboxes</option>
            <option value="radio">Radio</option>
            <option value="paragraph">Paragraph Text Field</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        <a href="#" class="btn btn-success">
            <scan class="glyphicon glyphicon-plus"></scan>
        </a>
    </div>
</div>