<h2 class="page-header">Forms : Registration Form</h2>
<ul class="nav nav-tabs">
    <li ><a href="forms.html">Forms</a></li>
    <li class="active"><a href="form-fields.html">Fields</a></li>
</ul>
<form class="paddingTop25">
    <div ng-repeat="field in model.fields">
        <label> {{field.label}} </label>
        <div class="row form-group" ng-switch on="field.fieldType">
            <div ng-switch-when="TEXT" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" placeholder="{{field.placeholder}}">
            </div>

            <div ng-switch-when="TEXTAREA" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <textarea class="form-control" placeholder="{{field.placeholder}}"></textarea>
            </div>

            <div ng-switch-when="EMAIL" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="email" class="form-control" placeholder="{{field.placeholder}}"></input>
            </div>

            <div ng-switch-when="DATE" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input type="date" class="form-control" placeholder="{{field.placeholder}}">
            </div>

            <div ng-switch-when="SELECT" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <select class="form-control" type="text">
                    <option ng-repeat="option in field.options" ng-value="option.value">{{option.label}}</option>
                </select>
            </div>

            <div ng-switch-when="CHECKBOX" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div ng-repeat="option in field.options">
                    <label><input type="checkbox" ng-value="option.value">  {{option.label}}</label>
                    <br>
                </div>

            </div>

            <div ng-switch-when="RADIO" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div ng-repeat="option in field.options">
                    <label><input type="radio" ng-value="option.value">  {{option.label}}</label>
                    <br>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
                <a class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a ng-click="model.cloneField(field)" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a ng-click="model.removeField(field._id)" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a class="btn btn-primary">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>
        </div>
    </div>

</form>
<hr class="divider">
<label for="newField"> Add New Field: </label>
<div class="row" id="newField">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <select ng-model="model.fieldType"class="form-control" type="text" name="field">
            <option value="TEXT">Single Line Text</option>
            <option value="TEXTAREA">Multi Line Text</option>
            <option value="DATE">Date</option>
            <option value="SELECT">Dropdown</option>
            <option value="CHECKBOX">Checkboxes</option>
            <option value="RADIO">Radio Buttons</option>
        </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
        <a ng-click="model.addField(model.fieldType)" class="btn btn-success" >
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</div>